<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ content[0].title }}</title>
		<meta name="description" content="{{ content[0].description }}">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

		<meta property="fb:app_id" content="107978575944240" />
		<meta property="og:title" content="{{ content[0].title }}">
		<meta property="og:site_name" content="Rolling Stone">
		<meta property="og:description" content="From Arrested Development to Zappa explore our list of pop culture phenomena that developed a cult following.">
		<meta property="og:type" content="article">
		<meta property="og:locale" content="en_US">
		<meta property="og:url" content="http://www.rollingstone.com/{{ content[0].slug }}/">
		<meta property="article:publisher" content="https://www.facebook.com/rollingstone">

		<meta property="og:image" content="{{ content[0].cdnPath }}/img/shareable/og.jpg">
		<meta property="og:image:type" content="image/jpg">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630"> 

		<meta name="twitter:card" content="summary_large_image" /> 
		<meta name="twitter:site" content="@RollingStone" /> 
		<meta name="twitter:creator" content="@RollingStone" /> 
		<meta name="twitter:title" content="{{ content[0].title }}"> 
		<meta name="twitter:description" content="{{ content[0].description }}" /> 
		<meta name="twitter:image" content="{{ content[0].cdnPath }}/img/shareable/og.jpg"/> 

		<link rel="canonical" href="http://www.rollingstone.com/{{ content[0].slug }}/">

		<link href="https://plus.google.com/+RollingStone" rel="publisher" />

		<script src="//use.typekit.net/aco8bsm.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

		<script src="{{ content[0].cdnPath }}/js/vendor/modernizr-2.6.2.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7727052/800168/css/fonts.css" />
		<link rel="stylesheet" href="{{ content[0].cdnPath }}/css/style.min.css">

		<script>
		document.createElement( "dialog" );
		document.createElement( "main" );
		</script>
	</head>
	<body class="section-intro">
		<script>
			window.fbAsyncInit = function() {
				FB.init({
					appId	: '107978575944240',
					xfbml	: true,
					version	: 'v2.0'
				});
			};

			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		<!-- hamburger -->
		<div>
		<nav class="navbar main-navbar" role="navigation">
			<h4><a href="http://www.rollingstone.com/" class="sprite-logo" data-category="Cult Classics" data-action="Intro" data-label="Rolling Stone">Site Navigation</a></h4>
			<a href="#" class="close-btn icon-close"></a>
			<ul class="nav navbar-nav">
				<li><a href="http://www.rollingstone.com/music">Music</a></li>
				<li><a href="http://www.rollingstone.com/politics">Politics</a></li>
				<li><a href="http://www.rollingstone.com/tv">TV</a></li>
				<li><a href="http://www.rollingstone.com/movies">Movies</a></li>
				<li><a href="http://www.rollingstone.com/culture">Culture</a></li>
				<li><a href="http://www.rollingstone.com/sports">Sports</a></li>
				<li><a href="http://www.rollingstone.com/music/albumreviews">Reviews</a></li>
				<li><a href="http://www.rollingstone.com/lists">Lists</a></li>
				<li><a href="http://www.rollingstone.com/country">RS Country</a></li>
				<li><a href="https://www.rollingstonesubscriptions.com/storefront/site/rs-4for1.html?link=1005317" target="_blank">Subscribe</a></li>
			</ul>
		</nav><!-- /.hamburger -->
		</div>
		<header class="header row" role="banner">
			<h1 class="document-title visuallyhidden">{{ content[0].title }}</h1>
			<a class="icon-menu navbar-icon" href="#"></a>
			<div class="header-container left-column social-box" data-short-url="http://www.rollingstone.com/{{ content[0].slug }}">
				<a href="http://www.rollingstone.com" class="sprite-logo" title="Home" data-category="Cult Classics" data-action="Intro" data-label="Rolling Stone">Rolling Stone</a>
				<a href="#" class="share-btn icon-share" title="Share"></a>
				<ul class="social-bar social-box-dialog">
					<li><a class="share-close-btn icon-close-btn" href="#"></a></li>
					<li class="sharing-dialog-option-facebook"><a class="icon-facebook" href="#" target="_blank" data-category="Cult Classics" data-action="Intro" data-label="Facebook"></a></li>
					<li class="sharing-dialog-option-twitter"><a class="icon-twitter" href="#" data-sharing-text="" target="_blank" data-category="Cult Classics" data-action="Intro" data-label="Twitter"></a></li>
					<li class="sharing-dialog-option-pinterest"><a class="icon-pinterest" href="#" target="_blank" data-category="Cult Classics" data-action="Intro" data-label="Pinterest"></a></li>
					<li class="sharing-dialog-option-google"><a class="icon-google-plus" href="#" target="_blank" data-category="Cult Classics" data-action="Intro" data-label="Google +"></a></li>
				</ul>
			</div>
		</header>