		<!-- main-content -->
		<main class="main-content" role="main">

			<!-- Intro Slide -->
			<section class="intro intro-video section-intro" data-name="Intro">
				<a name="index" class="visuallyhidden share-url" href="index"></a>
				<div class="background-image">
					<div class="intro-box">
						<a href="/" class="sprite-logo-intro"></a>
						<span class="intro-box-dsktp">{% include '../svg/splash-lockup-dsktp.svg' %}</span>
						<span class="intro-box-mbl"><img src="{{ content[0].cdnPath }}/img/sprites/splash-lockup-mbl.png" alt="{{ content[0].title }}"></span>

						<span class="intro-blurb">{{ content[0].description }}</span>
					</div>

					<p class="intro-sponsor">
						Presented by
						<a class="intro-sponsor-link" href="{{ content[0].adLink }}">{% include '../svg/chipotle-logo2.svg' %}</a>
					</p>

					<a href="#" class="scroll-btn">
						<span class="scroll-text">Scroll Down</span>
						<span class="scroll-icon"></span>
						{% if content[0].adLinkImg %}
						<img src="{{ content[0].adLinkImg }}" width="1px" height="1px"/>
						{% endif %}
					</a>
				</div>
			</section>