		<div id="site-index-dialog" class="dialog site-index">
			<h3 class="dialog-title">Select a Cult Classic Below</h3>
			<div class="index-nav clearfix">
				{% set slidesClean = slides|selectattr('slide') %}

				{# note: offset is used to keep over ads #}
				{% set offset = 00 %}

				{% for nav in slidesClean %}
						{% set navImgFile =  "00"+(loop.index - offset)|string %}
						{% set navImgFile = navImgFile|limitTo(-2) %}

						{% if nav.slide == 'yes' %}
						<a href="#" class="media-object index-{{ loop.index }}" data-category="Cult Classics" data-action="Index" data-label="{{ nav.headline|safe }}">
							<div><img src="{{ content[0].cdnPath }}/img/thumbnails/{{ navImgFile }}.jpg" alt="{{ nav.headline|safe }}"></div>
							<p>{{ nav.headline|safe }}</p>
						</a>
						{% else %}
							{% set offset = offset+1 %}
						{% endif %}

					{% if loop.index%6 == 0 %}
					{% endif %}
				{% endfor %}

			</div><!-- ./index-nav -->
			<a href="#" class="dialog-close icon-close"></a>
		</div>