			<!-- Outro Slide -->
			<section class="intro section-intro outro" data-name="Outro">
				<a name="back-to-top" class="visuallyhidden share-url" href="back-to-top"></a>
				<div class="background-image">
					<div class="intro-box">
						<a href="/" class="sprite-logo-intro"></a>
						<span class="intro-box-dsktp">{% include '../svg/splash-lockup-dsktp.svg' %}</span>
						<span class="intro-box-mbl"><img src="{{ content[0].cdnPath }}/img/sprites/splash-lockup-mbl.png" alt="{{ content[0].title }}"></span>

						<img src="{{ content[0].adLinkImg }}" width="1px" height="1px"/>
						<a href="{{ content[0].adLink }}" target="_blank"></a>
					</div>
				</div>
				<a href="#" class="back-btn js-back-to-top" data-category="Cult Classics" data-action="Back to Top" data-label="Outro">
					Back to Top
				</a>
			</section><!-- /.outro -->
		</main>

		<a href="#" class="next-btn" data-category="Cult Classics" data-action="Intro" data-label="Next">
				<p>NEXT <span class="arrow-down">{% include '../svg/scroll-arrow.svg' %}</span></p>
				<div class="wrapper"></div>
			</a>

		<div class="backdrop menu-backdrop"></div>

		<a href="#" class="open-index" data-category="Cult Classics" data-action="Index" data-label="Open">
			<ul>
				<li></li><li></li><li></li>
				<li></li><li></li><li></li>
				<li></li><li></li><li></li>
			</ul>
			Index
		</a>
		<ul class="pager"></ul>

		<div id="video-dialog" class="dialog">
			<iframe id="youtube-player" type="text/html" src="" allowfullscreen frameborder="0"></iframe>
			<div id="ooyalaplayer"></div>
			<a href="#" class="dialog-close icon-close"></a>
		</div>