{% set slideCount, themeCount, slideImg, adCount = 00 %}

{% for slide in slides %}

{% set themeCount = themeCount+1 %}

{% if slide.slide == 'yes' %}
	{% set slideCount = slideCount+1 %}
	{% set slideImg = slideImg+1 %}
	<section class="editorial row section-editorial theme-1 no-wrapper-change slide-{{ slideCount }}" data-name="{{ slide.headline|safe }}">
		<a name="{{ slide.headline|lower|replace(' ','-') }}" class="visuallyhidden share-url" href="{{ slide.headline|lower|replace(' ','-') }}"></a>
		<div class="left-column"><div class="cell">
			<div class="mobile-table">
				<span class="editorial-letter letter-{{ slide.letter }}">{% include 'svg/letter-' + slide.letter + '.svg' %}</span>
				<h2 class="editorial-heading">{{ slide.headline|safe }}</h2>
			</div>

			{% if slide.videoId %}
				<a href="#{{ slide.videoId }}" class="editorial-video" title="{{ slide.headline|safe }}" data-category="{{ content[0].title }}" data-action="{{ slide.headline|safe }}" data-label="Play">
			{% endif %}

			{% set slideImgFile =  "00"+slideImg|string %}
			{% set slideImgFile = slideImgFile|limitTo(-2) %}

				<figure class="editorial-image">
					<img src="{{ content[0].cdnPath }}/img/medium/{{ slideImgFile }}.jpg" alt="{{ slide.headline }}">
					<figcaption>{{ slide.caption }}</figcaption>
				</figure>

			{% if slide.videoId %}
				</a>
			{% endif %}

			<div class="editorial-body nano"><div class="nano-content">
				<p>{{ slide.copy|safe }}</p>
			</div></div>

		</div></div>
		<div class="right-column">

			{% if slide.videoId %}
				<a href="#{{ slide.videoId }}" class="editorial-video" title="{{ slide.headline|safe }}" data-category="{{ content[0].title }}" data-action="{{ slide.headline|safe }}" data-label="Play">
			{% endif %}

				<figure class="editorial-image">
					<img src="{{ content[0].cdnPath }}/img/large/{{ slideImgFile }}.jpg" alt="{{ slide.headline }}">
					
					{% if slide.caption %}
					<figcaption>{{ slide.caption }}</figcaption>
					{% endif %}
				</figure>

			{% if slide.videoId %}
				</a>
			{% endif %}

		</div>
	</section>

{% else %}
	{% set adCount = adCount+1 %}
		<section class="editorial row theme-adv section-advertising" data-name="{{ slide.headline|safe }} {{ adCount }}">
			<a name="{{ slide.headline|lower|replace('\'', '')|replace(' ','-') }}-{{ adCount }}" class="visuallyhidden share-url" href="{{ slide.headline|lower|replace('\'', '')|replace(' ','-') }}-{{ adCount }}"></a>
			<div class="left-column"><div class="cell">
				<div class="adv-heading">
					<a href="{{ content[0].adLink }}" target="_blank">
						<div class="adv-logo">{% include '../svg/chipotle-logo2.svg' %}</div>
					</a>
				</div>
				<h3 class="adv-title">Advertisement</h3>
				<h2 class="editorial-heading">{{ slide.headline|safe }}</h2><img src="{{ content[0].adLinkImg }}" width="1px" height="1px"/>


				{% set adImgFile =  "00"+adCount|string %}
				{% set adImgFile = adImgFile|limitTo(-2) %}

				{% if slide.videoId %}
				<a href="#{{ slide.videoId }}" class="editorial-video adv-video" title="See Video" data-category="{{ content[0].title }}" data-action="Ad Slide {{ adCount }}" data-label="Play">
				{% elif content[0].adLink %}
				<a href="{{ content[0].adLink }}" class="editorial-ad-link" title="{{ slide.headline|safe }}" target="_blank">

				<div class="editorial-body nano"><div class="nano-content">
					{{ slide.copy|safe }}
				</div></div>

				{% endif %}
					<figure class="editorial-image">
						<img src="{{ content[0].cdnPath }}/img/medium/adv-{{ adImgFile }}.jpg" alt="{{ slide.headline }}">
						<figcaption>{{ slide.caption|safe }}</figcaption>
					</figure>
				{% if slide.videoId or content[0].adLink %}
				</a>
				{% endif %}

			</div></div>
			<div class="right-column">
				{% if slide.videoId %}
				<a href="#{{ slide.videoId }}" class="editorial-video adv-video" title="See Video" data-category="{{ content[0].title }}" data-action="Ad Slide {{ adCount }}" data-label="Play">
				{% elif content[0].adLink %}
				<a href="{{ content[0].adLink }}" class="editorial-ad-link" title="{{ slide.headline|safe }}" target="_blank">
				{% endif %}
					<figure class="editorial-image">
						<img src="{{ content[0].cdnPath }}/img/large/adv-{{ adImgFile }}.jpg" alt="{{ slide.headline }}">
						{% if slide.caption %}
						<figcaption>{{ slide.caption|safe }}</figcaption>
						{% endif %}
					</figure>
				{% if slide.videoId or content[0].adLink %}
				</a>
				{% endif %}
			</div>
		</section>
	{% set themeCount = 0 %}

{% endif %}

{% endfor %}