/* ==========================================================================
   base.less
   
   Base styles for RS Article.
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    height: 100%;
    line-height: 1.4;
}

body {
    font: 16px/26px 'Gotham SSm A', 'Gotham SSm B', Helvetica, Helvetica Neue, Arial;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

img {
    max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    vertical-align: top;
}

a {
    color: @light-color;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}