/* ==========================================================================
   layout.less

   Master layout styles
   ========================================================================== */

body {
	background-color: @light-color;
}

.main-content {
	background-color: @dark-color;
	height: 100%;
	.clearfix();
	transition: all 0.5s ease-in-out;
	position: relative;
}

.menu-backdrop {
	display: none;
	overflow: hidden;
	z-index: 15;
	zoom: 1;
	position: fixed;	
	bottom: 0;	
	left: 0;
	height: 100%;
	width: 100%;	
	filter: alpha(opacity=70);
	opacity:0;
	background-color: #000;
	-webkit-transform:translate3d(0px,0px,0px);
	transform:translate3d(0px,0px,0px);	
	transition: all 400ms ease-in;			
	background-color: #000;
	background-color: rgba(0,0,0,.7);
}

.backdrop{
	background-color: #000;
	background-color: rgba(0,0,0,.7);	
}

.menu-open {
	overflow: hidden;

	.pager {
		opacity: 0;
	}

	.menu-backdrop {
		display: block;
	}

	.navbar {
		-webkit-transform:translateX(0%);
		transform:translateX(0%);
	}
}

section{
	height:100%;
}

// 1174px
.row {
	.clearfix();
	padding: 0;
	margin:0;
	width: 100%;

	.left-column {
		float: left;
		width: @grid-left-col-width-xl;

		.cell {
			padding-left: @grid-left-col-padding-left-xl;
			padding-right: @grid-left-col-padding-right-xl;
		}
	}

	.right-column {
		.clearfix();
		float: left;
		padding-left: @grid-right-col-padding-left-xl;
		width: @grid-right-col-width-xl;
		padding-right: @grid-right-col-padding-right-xl;
	}
}

.section-advertising {
	header,
	.open-index,
	.pager {
		display: block;
	}
	.sprite-logo,
	.navbar-icon{
		visibility:hidden
	}
	header .header-container{
		border-bottom: 0px;
	}
}

/**
 * Tablet Landscape
 * 1024px - 1279px
 */
@media (max-width: @screen-lg-max) {
	/*body:before {
		background-color: red;
		content: '1024 - 1279';
		position: absolute;
	}*/

	.row {

		.left-column {
			width: @grid-left-col-width-lg;

			.cell {
				padding-left: @grid-left-col-padding-left-lg;
				padding-right: @grid-left-col-padding-right-lg;
			}
		}

		.right-column {
			padding-left: @grid-right-col-padding-left-lg;
			width: @grid-right-col-width-lg;
			padding-right: @grid-right-col-padding-right-lg;
		}
	}
}

/**
 * Tablet Portrait
 * 768px - 1023px
 */
@media (max-width: @screen-md-max) {
	/*body:before {
		background-color: green;
		content: '768 - 1023';
		position: absolute;
	}*/

	body{
		font-size:0.8em;
	}

	.main-content {
		padding-top:3em;
	}

	section{
		height:auto;
	}

	.section-intro{

		.main-content {
			padding: 0;
		}
	}

	.row {

		.left-column {
			width: @grid-left-col-width-md;

			.cell {
				padding-left: @grid-left-col-padding-left-md;
				padding-right: @grid-left-col-padding-right-md;
			}
		}

		.right-column {
			display:none;
		}
	}
}

/**
 * Mobile
 * < 767px
 */
@media (max-width: @screen-sm-max) {
	/*body:before {
		background-color: blue;
		content: '0 - 767';
		position: absolute;
	}*/

	.row {

		.left-column {
			width: @grid-left-col-width-sm;

			.cell {
				padding-left: @grid-left-col-padding-left-sm;
				padding-right: @grid-left-col-padding-right-sm;	
			}
		}

		.right-column {
			display:none;
		}
	}
}
