[class^="sprite-"], [class*=" sprite-"] {
	background-color: transparent;
	background-image: @main-sprite-png;
  background-image: @main-sprite-svg, none;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0;
  display: block;
  overflow: hidden;
  *text-indent: -9999px;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
	}
}

/**
 * SVG sprite
 */
.sprite-logo {
	width: 158px;
	height: 31px;
}

.sprite-logo-intro {
	background-position: 0 -83px;
	width: 390px;
	height: 85px;
}

/**
 * IE 8 sprite (png)
 */

.no-svg {
	.sprite-logo {
		
	}

	.sprite-logo-intro {
		background-position: 0 -34px;
	}
}

/**
 * Tablet Landscape
 * 1024px - 1279px
 */
@media (max-width: @screen-lg-max) {
	
}

/**
 * Tablet Portrait
 * 768px - 1023px
 */
@media (max-width: @screen-md-max) {
	.sprite-logo {
		width: 174px;
		height: 34px;
	}
}

/**
 * Mobile
 * < 767px
 */
@media (max-width: @screen-sm-max) {
	.sprite-logo {
		width: 130px;
		height: 25px;
	}

	.sprite-logo-intro {
		background-position: 0 -40px;
		width: 200px;
		height: 50px;
	}
}