/* ==========================================================================
   editorial.less

   Styles for editorial slides
   ========================================================================== */

.editorial {
	color: white;
	height: 100%;
	overflow: hidden;

	.left-column {
		display:table;
		height: 100%;
		overflow: hidden;
		position: relative;

		.cell {
			display:table-cell;
			vertical-align:top;
			padding-top: 55px;
		}

		hr {
			border:none;
			height:5px;
			width:30px;
		}

		.editorial-video,
		.editorial-image {
			display: none;
		}
	}

	.right-column {
		//padding-right:@grid-pad-right-xl;
		height:100%;
	}

	.editorial-letter {
		display: block;
		height: 20vh;
		margin-top: 10%;

		svg {
			width: auto;
			height: 100%;
		}

		@media (max-width: @screen-md-max) {
			display: table-cell;
			position: relative;
			height: 50px;
			top: 4px;
			margin-top: 0;
			vertical-align: middle;
		}
	}

	.editorial-heading {
		font-family: 'Gotham Narrow A','Gotham Narrow B';
		font-weight: 100;
		font-style: normal;
		font-size: 64px;
		line-height: .9;
		margin-top: 10%;
		margin-bottom: 0;
		text-transform: uppercase;
		letter-spacing: -2px;
		position: relative;
	}

	.editorial-subheading {
		font-family: @tungsten-medium;
		font-size: unit(24/12, em);/*1em -> 12pt*/
		font-style:italic;
		margin: 0 0 0.2em 0;
		line-height: 1em;
		word-spacing: 8px;
		position: relative;
	}

	.editorial-video{
		color:white;
		overflow:hidden;
		height:100%;
		width: 100%;
		display: block;
		position:relative;

		&:hover{
			&:after{
				background-color: rgba(200, 200, 200, 1);
			}
		}

		&:after{
			border:5px solid white;
			font-family: 'rs';
			content: "\e603";
			color: white;
			display: block;
			position: absolute;
			margin-left: -38px;
			margin-top: -38px;
			top: 50%;
			left: 50%;
			width: 2em;
			height: 2em;
			border-radius: 50%;
			font-size: 3em;
			text-align: center;
			line-height: 1.85em;
			opacity: 0;
			transition: opacity 800ms ease-in-out;
		}
	}

	.editorial-image {
		height: 100%;
		overflow: hidden;
		position: relative;

		img {
			max-width: none;
		}

		figcaption {
			color:white;
			font-family: 'Gotham Narrow Book','Helvetica Neue',Helvetica,Arial,sans-serif;
			font-size: unit(15/@base-font-size, em);
			padding: 0 1em;
			position: absolute;
			bottom: 1em;
			right: 1em;
			z-index: 1;

			@media (min-width: @screen-md-max) {
				background: @light-color;
				background: rgba(255, 255, 255, 0.75);
				padding: 5px 10px;
				color: @dark-color;
			}
		}
	}

	p {
		line-height: 2;
		margin-top: 0;
		text-align: left;
		margin-right:1.5em;
	}

	.editorial-body {
		font-family:'Gotham Narrow Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: unit(15/@base-font-size, em);
		line-height: unit(22/15, em);
		height: 30%;
		margin-top: 2em;
		min-height:245px;
		overflow: hidden;
		text-align: center;
		width: 100%;
		position:relative;

		p:first-of-type {
			margin-bottom:0;

			&:ft-letter {
				position: relative;
				bottom: 3px;
				font-family: 'Gotham Narrow A', 'Gotham Narrow B';
				font-weight: 900;
				font-style: normal;
				line-height: .5;
				float:left;
				font-size:71px;
				margin:10px 5px 0 0; 
			}
		}

		&::-webkit-scrollbar {
		  width: 4px;
		}

		&::-webkit-scrollbar-track {
		  background: rgba(0, 0, 0, 0.17);
		}

		&::-webkit-scrollbar-thumb {
		  background: black;
		}

		&.two-row-title{
			height: 50%;
		}

		a {
			color: @dark-color;
			text-decoration: underline;
		}
	}

	&.theme-1 {
		color: @theme-secondary-01;
		background-color: @theme-primary-01;

		hr {
			background-color:#cccccc;
			color:@theme-secondary-01;
		}

		.editorial-body {
			-ms-scrollbar-face-color: white;
			scrollbar-face-color: white;
			-ms-scrollbar-track-color: #936f46;
			scrollbar-track-color: #936f46;

			&::-webkit-scrollbar-thumb {
				background: white;
			}

			.nano-pane{
				background: #ccc;
				padding:0;
			}
			.nano-slider{
				background: white;
				padding:0;
			}
		}

		.right-column {
			background-color: transparent;
		}
	}

	/**
	 * Advertising slide theme
	 */
	&.theme-adv {
		background-color: #000;

		.editorial-heading {
			color: @light-color;
			font-family: 'Gotham Narrow Medium','Helvetica Neue',Helvetica,Arial,sans-serif;
			font-weight: 900;
			font-size: 48px;
			font-style: normal;
			text-transform: uppercase;
			margin-bottom: 0;

			span {
				display:block;
				font-size:43px;
				text-transform:none;
			}
		}

		.editorial-body {
			font-size:26px;
			height:auto;
			margin-top:0;
			overflow:hidden;

			&::-webkit-scrollbar-track {
				background: transparent;
			}
			
			sup{
				font-size: 30px;
				top: 0;
			}

			p {
				font:normal 26px Helvetica,Arial,sans-serif;
				margin:0 0 34px;

				&:first-of-type:first-letter {
					float:none;
					font-size: 26px;
					margin:0;
				}
			}

			p:last-of-type {
				font-size:19px;
				font-weight:bold;

				span {
					display:block;
					font-weight:normal;
				}
			}
		}

		.right-column {
			background: @theme-secondary-adv;
			padding-right: 0;

			.editorial-image figcaption {
				font:0.75em/1em Helvetica,Arial,sans-serif;
				text-align:right;
			}
		}
	}
	/**
	 * viewed slide: play animation
	 */
	&.viewed {
		.editorial-video{
			&:after{
				opacity: 1;
			}
		}
	}
}

.lt-ie9{
	.editorial{
		.editorial-body{
			overflow-y:auto;
		}
	}
}

/**
 * Advertising slides
 */
.editorial.theme-adv {
	.adv-heading {
		.clearfix();

		.adv-logo {
			float: left;
			width: 160px;

			svg {
				width: 100%;
				height: auto;
			}
		}
	}

	.adv-title {
		color:#808080;
		font-family: 'Gotham Narrow Book','Helvetica Neue',Helvetica,Arial,sans-serif;
		font-weight: normal;
		font-size: 14px;
		font-style: normal; 
  		margin-bottom: 0;
		margin-top: 2em;
		text-transform: uppercase;
	}

	.editorial-subheading {
		margin-top: 0.2em;
		text-transform: none;
	}

	.editorial-body {
		font-size: unit(24/@base-font-size, em);
		line-height: 1.2em;
		text-align: left;
	}
}
@media (max-width: 650px) and (orientation: portrait)  { 
    div#youtube-player {
        height: 63vw; 
    }
    div#ooyalaplayer {
        width: 100%;
        height: 63vw;
        .innerWrapper {
            overflow: visible;
            position: static;
        }
    }
}
#youtube-player, #ooyalaplayer {
	max-width: 853px;
	width: 80%;
	margin: 0 auto;
	display: block;
	height: 530px;


}


#ooyalaplayer {
	display:none;
}

/**
 * Tablet Landscape
 * 1024px
 */
@media (max-width: @screen-ipad-landscape) {
	.editorial {
		.editorial-body {
			height: 44%;
		}

		&.section-advertising {
			.editorial-body {
				font-size: 1.4em;
			}
		}
	}
	
	.editorial.theme-adv .adv-heading .adv-logo	{
		position: absolute;
		right: 13.54%;
		top: 3em;
  	}
	
	.editorial.theme-adv .editorial-heading	{
		margin-top: 0;
	}
	
	.editorial{
		.editorial-body {
	
			p:first-of-type {
	
				&:first-letter {
					position: relative;
					bottom: auto;
					font-family: inherit;
					font-weight: inherit;
					font-style: inherit;
					line-height: inherit;
					float:none;
					font-size:inherit;
					margin: 0; 
				}
			}
		}	
	}		
	
}
/**
 * Tablet Portrait
 * 768px - 1023px
 */
@media (max-width: @screen-md-max) {
	.editorial {
		height:auto;
		
		.adv-title{
			padding-right: 85px;
		}

		.mobile-table {
			display: table;
			margin-bottom: 20px;
		}

		.editorial-letter {
			width: 90px;

			svg {
				width: 100%;
			}
		}

		.editorial-heading {
			display: table-cell;
			width: calc(100% ~'-' 90px);
			font-size: 25px;
			letter-spacing: 0;
			line-height: 1em;
			margin: 0;
			vertical-align: middle;

			span {
				font-size: unit(37/@base-font-size-md, em);
				margin-bottom: 0.83em;
			}
		}

		.left-column{
			height:auto;

			.editorial-image,
			.editorial-video{
				clear: both;
				display: block;
				margin: 0;

				img{
					height:auto;
					width:100%;
				}
			}
		}

		.editorial-body {
			font-size: unit(16/@base-font-size-md, em);
			line-height: unit(40/24, em);
			height:auto;
			margin-bottom: 4em;
			overflow: visible;
		}

		.editorial-image {
			figcaption {
				position: static;
				margin-top: 8px;
				padding: 0;
				color: @dark-color;
				font-size: 12px;
				line-height: 1.4;
			}
		}

		&.section-advertising {
			.editorial-heading{
				padding-right: 85px;				
			}
			
			.editorial-body {
				display: inline;
				font-size: unit(16/@base-font-size-md, em);
				line-height: unit(40/24, em);
			}
			
			.nano-content{
				margin-bottom: 2em;
			}

			.editorial-image {
				figcaption {
					color: #fff;
				}
			}
		}

		&.theme-adv {
			overflow: hidden;

			.adv-heading {
				.adv-logo {
					position: relative;
					z-index: 2;
					top: initial;
					right: initial;
				}
			}

			.adv-title {
				position: relative;
				z-index: 2;
				margin-top: 0.5em;
			}

			.editorial-heading {
				position: relative;
				z-index: 2;
			}

			.editorial-body {
				display: block;
				position: relative;
				z-index: 2;
			}

			.editorial-image {
				position: relative;
				z-index: 1;
				margin-top: -700px;

				figcaption {
					padding: 0;
				}
			}
		}
	}

	#youtube-player {
		width: 70%;
		height: 380px;
	}
}

/**
 * Mobile
 * < 767px
 */
@media (max-width: @screen-sm-max) {
	.editorial {
		.left-column {
			display: block;

			.cell {
				display: block;
			}

			hr {
				display:none;
			}

			.editorial-heading {
				span {
					font-size: 31px;
					line-height: 0.9em;
				}
			}

			.editorial-body {
				font-size: 1em;
				line-height: unit(20/13, em);
				margin: 0;

				p {
					font-size: 16px;
					line-height: 1.375;
					margin: 10px 0 0;
					text-align:justify;
				}
			}

			.editorial-video {
				margin-bottom:0.5em;

				&:after {
					top:43%;
				}
			}

			.editorial-image {
				figcaption {
					padding: 0;
					font-size: 12px;
					
					br{
						display: none;
					}
										
				}
			}
		}

		&.theme-adv {
			margin-top: 55px;

			.left-column {
				display: block;

				.cell {
					display: block;
					padding-top: 20px;
				}

				.adv-heading {
					.adv-logo {
						position: relative;
						z-index: 2;
						top: initial;
						right: initial;
					}
				}

				.adv-title {
					position: relative;
					z-index: 2;
					margin-top: 0.5em;
				}

				.editorial-heading {
					display: block;
					position: relative;
					width: 100%;
					z-index: 2;
					font-size: 24px;
					padding: 0;
					margin: 0 0 21px 0;

					+ img {
						position:absolute;
					}
				}

				.editorial-body {
					display: block;
					position: relative;
					z-index: 2;
				}

				.editorial-image {
					position: relative;
					z-index: 1;
					margin-top: -315px;
				}

				.editorial-video {
					margin-top:0;

					figure {
						margin-top:0;

						figcaption {
							line-height:1.5em;
						}
					}
				}

				.editorial-body {
					font-size: 1.2em;
					line-height: unit(20/13, em);

					p:last-of-type {
						margin-top:1em;
					}
					
					sup{
						font-size: 150%;
						top: 0;
					}
				}
			}
		}
	}

	#youtube-player {
		width: 90%;
		height: 230px;
	}
}
