/* ==========================================================================
   header.less

   Header styles
   ========================================================================== */

.header {
	font-size: unit(20/@base-font-size, em); // 1.25em /
	position: fixed;
	visibility: visible;
	opacity:1;
	z-index:10;
	transition: transform 0.5s ease-in-out;
	pointer-events: none;
	width:100%;

	a{
		pointer-events: auto;
	}

	a:hover {
		text-shadow: 0 2px rgba(0, 0, 0, 0.5);
	}

	.sprite-logo {
		float: left;
	}

	.icon-menu {
		font-size: 1.5em; // 30px
		position: absolute;
		left: 0.5em;
		top:11px;
		z-index: 1;

		&:hover {
			color: @light-color;
		}
	}

	.header-container {
		line-height:40px;
		margin:0;
		padding:14px 0 10px 68px;
		position: relative;
		width: @grid-left-col-width-xl;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		background: #000;
	}

	.share-btn,
	.share-close-btn {
		display: none;
	}

	.social-bar {
		position: absolute;
		top: 10px;
		right: 30px;

		& li {
			vertical-align: middle;
			text-align: center;
			width: 26px;

			a{
				pointer-events: auto;
			}
		}
	}
}

.lt-ie9
	.social-bar
		li{
			padding:0 10px;
		}

.section-intro{
	header{
		.icon-menu,
		.sprite-logo {
			display: none;
		}

		.header-container {
			width: 100%;
			border: 0;
			background: none;
		}

		.social-bar {
			
		}
	}
}

/**
 * Hamburger nav
 */
.navbar {
	display: none;
	background-color: @nav-bg-color;
	backface-visibility: hidden;
	color: @light-color; 
	font-family: 'Gotham Narrow A','Gotham Narrow B';
	font-weight: 900;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	left: 0;
	position: fixed;
	text-transform:uppercase;
	top: 0;
	width:255px;
	transition: transform 0.5s ease-in-out;
	-webkit-transform:translateX(-100%);
	transform:translateX(-100%);
	background: #222;

	.close-btn {
		right: 1em;
		position: absolute;
		top: 1.2em;

		&:hover {
			font-weight: bold;
		}
	}

	h4 {
		background-color: @dark-color;
		margin: 0;
		padding: 0.75em 1.67em;
		.clearfix();

		.sprite-logo {
			margin: 0;
		}
	}

	li {
		border-bottom: 1px solid @dark-color;
		display: block;

		a {
			font-size: 1.2em;
			display: block;
			padding: 0.5em 5em 0.5em 1.25em;
			background: #222;

			&:hover {
				color: darken(@light-color, 30%);
			}
		}
	}
}

/**
 * Tablet Landscape
 * 1024px - 1279px
 */
@media (max-width: @screen-lg-max) {
	.header .header-container {
		width: @grid-left-col-width-lg;
	}
}

/**
 * Tablet Portrait
 * 768px - 1023px
 */
@media (max-width: @screen-md-max) {
	.header {
		background-color: #000;
		font-size: unit(24/@base-font-size, em);
		padding: 12px 0 8px 0;

		.icon-menu {
			color: #fff;
		}

		.sprite-logo {
			float: none;
			margin: 0 auto;
		}

		.header-container {
			border-bottom: 0;
			margin:0;
			padding: 0;
			width: 100%;
		}

		.social-bar {
			left: auto;
			right: 9px;
			top: -4px;
  		}
	}

	.section-intro{
		header{
			.icon-menu,
			.sprite-logo {
				display: inherit;
			}

			.social-bar {
				left: auto;
				right: 9px;
				top: -4px;
			}
		}
	}

	.navbar {
		h4 {
			background-color: @light-gray;
		}
	}
}

/**
 * Mobile
 * < 767px
 */
@media (max-width: @screen-sm-max) {
	.header {
		font-size: unit(16/@base-font-size, em);
		padding: 0.8em 0;
		width: @grid-left-col-width-sm;

		.header-container {
			font-size: 1.8em;
		}

		.share-btn {
			display: block;
			position: absolute;
			right: 1em;
			top: 0;
		}

		.social-bar {
			display: none;
			right: 0;
			width: auto;
			background-color: #252525;
			padding: 1em 0;
			top: -1em;

			li {
				display: block;
				text-align: center;
				width: auto;
				a {
					display: block;
					padding: 0.7em;
				}
			}

			&.share-expanded {
				display: block;
			}
		}

		.share-close-btn {
			display: block;
		}
	}

	.section-intro,
	.section-advertising {
		.header {
			.share-btn
			{
				display: block;
			}
		}
	}
}