/* ==========================================================================
   index.less
   
   Site index overlay styles
   ========================================================================== */
#site-index-dialog {
	width: 90%;
}

.site-index {
	color: @light-color;
	text-transform: uppercase;

	.index-nav {
		.clearfix();
	}

	.column {
		.clearfix();
		float: left;
		margin: 1%;
		width: 23%;

		&:first-child .media-object {
			margin-left:0;
		}
	}

	.media-object {
		background-color: @index-item-bg-color;
		display: table;
		font-family: 'Gotham Narrow A', 'Gotham Narrow B';
		font-weight: 900;
		font-style: normal;		
		font-size: 18px;
		float: left;
		height: 94px;
		line-height:1em;
		margin: 0.5em 1%;
		padding: 0.5em;
		width: 18%;
		
		img{
			display: block;
			width: 100%;
			height: auto;
		}

		& > * {
			display: table-cell;
			vertical-align: middle;
		}
		
		div{
			width: 76px;
		}

		p {
			margin: 0;
			padding-left: 1em;
		}

		&:hover {
			background-color: @index-item-bg-color-hover;
		}
				
	}
}

@media screen and (max-width:1220px){
	.site-index {
		.media-object{
			width: 23%;
		}
	}
}

@media screen and (max-width:1200px) and (max-height:945px){
	.site-index .media-object div{
		width: 50px;
	}
	
	.site-index .media-object{
		height: 70px;
	}
}

@media screen and (max-width:1200px) and (max-height:785px){
	.dialog .dialog-title{
		font-size: 36px;
	}
}

@media screen and (max-width:1100px) and (max-height:785px){
	.site-index .media-object{
		font-size: 16px;
		height: 66px;
	}
}


@media screen and (max-height:725px){
	.dialog .dialog-title{
		font-size: 36px;
	}
}