.intro{
	background-color: @dark-color;
	background-image: @intro-bg;
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	display:table;
	height: 100%;
	overflow: hidden;
	position: relative;
	width:100%;

	& > a{
		position:absolute;
		top:0;
	}

	.background-image {
		display:table-cell;
		position:relative;
		text-align: center;
		width: 100%;
		vertical-align:middle;
	}

	.intro-box {
		width: 60%;
		margin: 1em auto;
		position:relative;
		box-sizing: content-box;

		svg {
			width: 100%;
			height: auto;
		}

		&-dsktp {
			display: block;
		}

		&-mbl {
			display: none;
		}

		.intro-blurb {
			position: absolute;
			bottom: 12%;
			left: 10%;
			color: @light-color;
			font-family: 'Gotham Narrow SSm A','Gotham Narrow SSm B';
			font-size: 22px;
			font-style: normal;
			font-weight: 300;
		}

		a {
			bottom:0;
			height:100px;
			left:35%;
			position:absolute;
			width:30%;
			
			&.sprite-logo-intro {
				background: none;
				position: absolute;
				top: 0;
				left: 29%;
				width: 40%;
				height: 20%;
				z-index: 1;
				margin: 0 auto;
			}

			&.scroll-btn {
				display: block;				
				position: absolute; 
				bottom:0;
				left:0;
				right: 0;
				font-family: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B';
				font-weight: 300;
				font-style: normal;
				font-size: 1.1em;
				margin: 0 auto;
				text-align:center;
				text-transform: uppercase;
				top:auto;
				width:202px; 
				
				p {
					color:white;
					margin: .5em 0;
				}
		
				.scroll-icon {
					font-weight: bold;
					display:block;
					margin:0 auto;
					height:97px;
					width:86px;
				}
			}
		}
	}

	.intro-sponsor {
		color: @light-color;
		font-size: 13px;
		text-transform: uppercase;

		&-link {
			display: block;
			width: 170px;
			margin: auto;

			svg {
				width: 100%;
				height: auto;
			}
		}
	}

	.scroll-btn {
		position: absolute;
		width: 150px;
		height: 60px;
		bottom: 50px;
		left: 50%;
		margin-left: -75px;
		font-family: 'Gotham Narrow A', 'Gotham Narrow B';
		font-size: 22px;
		font-style: italic;
		text-transform: uppercase;

		.scroll-icon {
			display: block;
			position: relative;
			width: 60px;
			height: 30px;
			margin: 10px auto 0;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 0;
				height: 0;
				top: 0;
				border-top: 15px solid @light-color;
			}

			&:before {
				left: 0;
				border-left: 30px solid transparent;
				transform: skew(0, 30deg);
			}

			&:after {
				right: 0;
				border-right: 30px solid transparent;
				transform: skew(0, -30deg);
			}
		}
	}
}

/**
 * End card
 */
.outro {

	.back-btn {
		position:absolute;
		top: auto;
		bottom: 5%;
		left: 0;
		right: 0;
		border:3px solid white;
		display: inline-block;
		font-family: 'Gotham Narrow Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 28px;
		text-align: center;
		text-transform: uppercase;
		line-height: 1em;
		width: 250px;
		padding: 0.5em 1em;
		margin-top: 1em;
		margin-left: auto;
		margin-right: auto;

	}
}

@media (max-width: 1300px) {
	.intro .intro-box .intro-blurb {
		font-size: 20px;
	}
}

@media (max-width: 1190px) {
	.intro .intro-box .intro-blurb {
		font-size: 17px;
	}
}

/**
 * Tablet Portrait
 * 768px - 1023px
 */
@media (max-width: @screen-md-max) {
	.intro {
		.background-image {
			padding: 10% 0;
		}

		.intro-box {
			.intro-blurb {
				position: relative;
				bottom: initial;
				left: initial;
				font-weight: 700;
			}

			&-dsktp {
				svg {
					height: 100%;
				}
			}
		}
	}
}

/**
 * Mobile
 * < 767px
 */
@media (max-width: @screen-sm-max) {
	.intro {
		height: auto;
		background-position: center;

		.background-image {
			padding: 6em 0 5em 0;
			position: static;
		}

		.intro-box {
			width: 100%;

			&-dsktp {
				display: none;
			}

			&-mbl {
				display: block;
				margin-bottom: 7px;
			}

			a {
				height:40px;
			}

			svg {
				visibility: hidden;
			}
		}

		.intro-sponsor {
			font-size: 11px;

			&-link {
				width: 110px;
			}
		}

		.scroll-btn {
			position: relative;
			bottom: initial;
			left: initial;
			margin: auto;
			font-size: 18px;

			.scroll-icon {
				width: 28px;
				height: 20px;

				&:before,
				&:after {
					border-top: 10px solid @light-color;
				}

				&:before {
					left: 0;
					border-left: 14px solid transparent;
					transform: skew(0, 30deg);
				}

				&:after {
					right: 0;
					border-right: 14px solid transparent;
					transform: skew(0, -30deg);
				}
			}
		}
	}
	
	.outro {
		margin-top: 55px;

		.back-btn {
			width: 140px;
			bottom: 2%;
			margin-top: 55px;
			font-size: 14px; 
		}
	}
}