.next-btn {
	bottom: 0;
	display: block;
	margin: 0;
	position: fixed;
	text-align: center;
	width: @grid-left-col-width-xl + 0.0;
	padding: 0;
	z-index: 5;
	color: #fff;
	font-family: 'Gotham Narrow A', 'Gotham Narrow B';
	font-weight: 300;
	font-style: italic;
	font-size:1.35em;
	height:58px;
	-webkit-font-smoothing: antialiased;

	p{
		position: absolute;
		width: 100%; 
		margin: 0;
		line-height: 58px;
	}

	span{
		vertical-align: middle;
	}

	.arrow-down {
		display: inline-block;
		margin-left: 7px;

		svg {
			position: relative;
			top: 2px;
			width: 34px;
			height: auto;
		}
	}

	.wrapper{
		overflow: hidden;
		height:100%;
		width:100%;
	}

	div{
		background: @palatinate-blue;
	}
}

.menu-open,
.section-intro{
	.next-btn{
		display :none;
	}
}


.section-advertising{ 
	.next-btn, .next-btn p, .next-btn:hover p{
		color: #fff;	
		div{
			background: #78c043;			
		} 
	}
}

/**
 * Tablet Landscape
 * 1024px - 1279px
 */
@media (max-width: @screen-lg-max) {

	.next-btn {
		width: @grid-left-col-width-lg + 0.05;
	}
}

/**
 * Tablet Portrait
 * 768px - 1023px
 */
@media (max-width: @screen-md-max) {
	.next-btn {
		display:none;
	}
}