.pager{
	position: fixed;
	right: 0;
	top: 20%;
	width: @grid-right-col-padding-right-xl;
	height: 50%;
	z-index:10;

	li{
		display:block;
		background-color:#cccccc;
		border-radius:50%;
		padding: 4px;
		width: 0;
		height: 0;
		margin: 0.7em auto;
		cursor:pointer;

		&.current{
			background-color:#000;
			padding:6px;
		}

		&.pager-hidden {
			display: none;
		}
	}
}

.open-index{
	display:block;
	position: fixed;
	top:0;
	right:0;
	width: @grid-right-col-padding-right-xl;
	font-family: @tungsten-book;
	color:#fff;
	height:4.5em;
	text-align:center;
	text-transform: uppercase;
	background-color: @palatinate-blue;
	z-index:10;

	ul{
		margin:0.7em auto 0 auto;
		height:2em;
		width:1.9em;

		li{
			display: block;
			float: left;
			width: 0.5em;
			height: 0.5em;
			background-color: #fff;
			margin: 1px;
		}
	}
}

.section-intro,
.section-advertising{
	.pager{
		display:none;
	}

	.open-index{
		display:none;
	}
}


/**
 * Tablet Landscape
 * 1024px - 1279px
 */
@media (max-width: @screen-lg-max) {
	.pager {
		width: @grid-right-col-padding-right-lg;
	}

	.open-index{
		width: @grid-right-col-padding-right-lg;
	}
}

/**
 * Tablet Portrait
 * 768px - 1023px
 */
@media (max-width: @screen-md-max) {
	.pager {
		display:none;
	}

	.open-index{
		display:none;
	}
}

/**
 * Mobile
 * < 767px
 */
@media (max-width: @screen-sm-max) {
	.pager {
		display:none;
	}

	.open-index{
		display:none;
	}
}