/* ==========================================================================
   layout.less
   
   Default component template
   ========================================================================== */
.wrapper {
	.container {
		background-color: red;
	}
}