/* ==========================================================================
   dialog.less
   
   Dialog component styles
   ========================================================================== */
.dialog {
	font-family: @tungsten-medium;

	&.dialog-skin {
		pointer-events: none;
		background-color:transparent;
		left: 0;
		margin: 0 auto;
		opacity: 0;
		position: fixed;
		right: 0;
		top: 150%;
		transition: opacity 400ms ease-in-out, visibility 0s linear 0.5s;
		visibility: hidden;
		width: 960px;
		//width: fit-content;
		z-index: 60;

		&.open {
			pointer-events: auto;
			//transition-delay: 0s;
			opacity: 1;
			visibility: visible;
			top: 50%;
			width:100%;
		}
	}

	.dialog-close {
		font-size: 2em;
		position: fixed;
		right: 1em;
		top: 1em;
		transform: scaleY(1.5);
		z-index: 100;

		&:hover {
			font-weight: @bold-font;
		}
	}

	& + .backdrop,
	&::backdrop {
		background-color: #000;
		background-color: rgba(0, 0, 0, 0.90);
		bottom: 0;
		left: 0;
		height: 100%;
		overflow: hidden;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 50;
		zoom: 1;
	}

	.dialog-title {
		font-family: 'Gotham Narrow A', 'Gotham Narrow B';
		font-weight: 900;
		font-style: normal;
		font-size: 57px;
		line-height: 1em;
		margin-bottom: 0.4em;
		text-align: center;
		text-transform: uppercase;
	}
}

.backdrop {
	overflow: hidden;	
	z-index: 15;
	zoom: 1;
	position: fixed;	
	bottom: 0;	
	left: 0;
	height: 100%;
	width: 100%;	
	filter: alpha(opacity=70);
	opacity:0;
	background-color: #000;
	-webkit-transform:translate3d(0px,0px,0px);
	transform:translate3d(0px,0px,0px);	
	transition: all 400ms ease-in;

	&.open{
		opacity:1;
		overflow: hidden;	
		z-index: 15;
		zoom: 1;
		position: fixed;	
		bottom: 0;	
		left: 0;
		height: 100%;
		width: 100%;	
		filter: alpha(opacity=70);
		background-color: #000;
		background-color: rgba(0,0,0,.9);
		-webkit-transform:translate3d(0px,0px,0px);
		transform:translate3d(0px,0px,0px);	
		transition: all 400ms ease-in;		
	}

	&.menu-backdrop {
		background-color: rgba(0, 0, 0, 0.7);
	}
}

.cell{}