
/* ==========================================================================
   vars.less
   
   This file is containing every less variable. Any other files should have
   any other variable defined.
   ========================================================================== */

@main-sprite-png: url(../img/sprites/ui-sprite.png);
@main-sprite-svg: url(../img/sprites/ui-sprite.svg);
@hulu-logo: url(../img/sprites/adv-logo.png);
@intro-box-bg: url(../img/sprites/splash-lockup-dsktp.svg);
@intro-box-bg-mbl: url(../img/sprites/splash-lockup-mbl.svg);
@intro-bg: url(../img/bg/bg.jpg);
@base-font-size: 16px;
@base-font-size-md: 13px;

/**
 * Grid sizes
 */
// 1280px (1178px)
@grid-left-col-padding-left-xl: 4.68%;
@grid-left-col-width-xl: 39.827%;
@grid-left-col-padding-right-xl: 4.68%;

@grid-right-col-padding-left-xl: 0;
@grid-right-col-width-xl: 60.17%;
@grid-right-col-padding-right-xl: 3.6%;

// 1024px (918px)
@grid-left-col-padding-left-lg: 5.86%;
@grid-left-col-width-lg: 49.8%;
@grid-left-col-padding-right-lg: 5.86%;

@grid-right-col-padding-left-lg: 0;
@grid-right-col-width-lg: 50.2%;
@grid-right-col-padding-right-lg: 4.49%;

// 768px
@grid-left-col-padding-left-md: 13.54%;
@grid-left-col-width-md: 100%;
@grid-left-col-padding-right-md: 13.54%;


// 320px
@grid-left-col-padding-left-sm: 6.27%;
@grid-left-col-width-sm: 100%;
@grid-left-col-padding-right-sm: 6.27%;


/**
 * Theme
 */
@light-color: #fff;
@light-gray: #424242;
@dark-color: #000;
@index-item-bg-color: #222;
@index-item-bg-color-hover: #4b4b4b;
@nav-bg-color: #000;
@palatinate-blue: #1c35ed;

/* color 1 */
@theme-primary-01: #fff;
@theme-secondary-01: #000;

/* color 2 */
@theme-primary-02: #1d6d3d;
@theme-secondary-02: #175731;

/* color 3 */
@theme-primary-03: #27824b;
@theme-secondary-03: #1f683c;

/* color 4 */
@theme-primary-04: #2c9c5c;
@theme-secondary-04: #237d4a;

/* color 5 */
@theme-primary-05: #33b169;
@theme-secondary-05: #298e54;

/* color advertising */
@theme-primary-adv: #333;
@theme-secondary-adv: #000;

/**
 * Fonts
 */
@serif: 'freight-text-pro','Times New Roman',Times,serif;
@tungsten-book: 'Tungsten Book',Arial,sans-serif;
@tungsten-medium: 'Tungsten Medium',Arial,sans-serif;
// font weights
@light-font: 300;
@regular-font: 400;
@bold-font: 500;


/**
 * Breakpoints using Desktop First approach
 */
@screen-sm-max: unit(767/16, em);
@screen-md-max: unit(1023/16, em);
@screen-lg-max: unit(1279/16, em);

@screen-ipad-landscape: unit(1024/16, em);